		body { color: dimgray;}
		a {text-decoration: none}
		.hd h1	{
			border-bottom: 1px solid gray;
			text-align: center;
			}
		#grid1{
			display: grid;
			grid-template-columns: 150px 1fr 150px;
		}
		.nav {
			border-right: 1px solid gray;
			margin-left: -25px; }
		.list {
			list-style: none;
			margin-bottom: 2px;
		}
		.list a {
			color:#09f;
/*			background-color: gray;*/
			font-size: 1.3em
		}
		.list a:hover{
			color: orangered;
		}
		main{
			margin-left: 10px
		}		
		aside{
			border-left: 1px solid gray;
		}
		aside >img {
			margin-left: 5px;
		}
		footer {
			text-align: center;
			border-top: 1px solid gray;
			margin-top: 10px;
			text-decoration: none;
		}
		footer a {
			color:dimgrey;
			font-weight: bold;
		}
		@media(max-width: 800px) {
			#grid1 {
				display: block;
			}
			.nav  {
				border-right: none;
			}
			aside  {border-left: none;}
		}